@model Integrated_Project.Model.TblDetail
@{
    ViewBag.Title = "Register";
}
<style>
    p {
        text-align: center;
    }

    #pLabel {
        text-align: left !important;
    }

    a {
        color: #666666
    }

    #button {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #fff;
        background-color: #2E3192;
        border-color: #2e6da4;
    }
    .validation-summary-errors {
        color: red;
    }

    .field-validation-error {
        color: red;
    }

    .input-validation-error {
        color: red;
    }
</style>
<div class="jumbotron" style="margin: auto; width: fit-content; background-color: #FFFFFF">
    <h1><a href="/Home/Index"><img src="~/Logo/TECHSPO_Logo.PNG" alt="TECHSPO_Logo.PNG"></a></h1>
    <h4>@Html.ActionLink("Home", "Index", "Home") &nbsp; @Html.ActionLink("About", "About", "Home") &nbsp; @Html.ActionLink("Contact", "Contact", "Home")</h4>
    <h1>Register</h1><br>
    @using (Html.BeginForm("Register", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <p class="lead" id="pLabel">Name</p>
        <p>@Html.TextBoxFor(a => a.Name)</p>
        <p>@Html.ValidationMessageFor(a => a.Name)</p>
        <p class="lead" id="pLabel">Email</p>
        <p>@Html.TextBoxFor(a => a.Email)</p>
        <p>@Html.ValidationMessageFor(a => a.Email)</p>
        <p class="lead" id="pLabel">Cell phone</p>
        <p>@Html.TextBoxFor(a => a.CellNo)</p>
        <p>@Html.ValidationMessageFor(a => a.CellNo)</p>
        <br>
        //<p><a href="https://asp.net" class="btn btn-primary btn-lg">SAVE</a></p>
        <p><input type="submit" value="Save" class="btn btn-primary btn-lg" /></p>
    }
</div>